@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  direction: rtl;
}





@layer base {
    @font-face {
      font-family: 'IRANSans';
      font-style: thin;
      font-weight: 100;
      src: url('/font/IRANSansX-Thin.woff') format('woff'),
    }
    @font-face {
      font-family: 'IRANSans';
      font-style: ultraLight;
      font-weight: 200;
      src: url('/font/IRANSansX-UltraLight.woff') format('woff'),
    }
    @font-face {
      font-family: 'IRANSans';
      font-style: light;
      font-weight: 300;
      src: url('/font/IRANSansX-Light.woff') format('woff'),
    }
    @font-face {
      font-family: 'IRANSans';
      font-style: regular;
      font-weight: 400;
      src: url('/font/IRANSansX-Regular.woff') format('woff'),
    }
    @font-face {
      font-family: 'IRANSans';
      font-style: medium;
      font-weight: 500;
      src: url('/font/IRANSansX-Medium.woff') format('woff'),
    }
    @font-face {
      font-family: 'IRANSans';
      font-style: demiBold;
      font-weight: 600;
      src: url('/font/IRANSansX-DemiBold.woff') format('woff'),
    }
    @font-face {
      font-family: 'IRANSans';
      font-style: Bold;
      font-weight: 700;
      src: url('/font/IRANSansX-Bold.woff') format('woff'),
    }
    @font-face {
      font-family: 'IRANSans';
      font-style:extreBold;
      font-weight: 800;
      src: url('/font/IRANSansX-ExtraBold.woff') format('woff'),
    }
    @font-face {
      font-family: 'IRANSans';
      font-style:Black;
      font-weight: 900;
      src: url('/font/IRANSansX-Black.woff') format('woff'),
    }
} 
@layer base{
  @font-face {
    font-family: 'iransansNumber';
    font-style:thin;
    font-weight: 100;
    src: url('/font/IRANSansXFaNum-Thin.woff2') format('woff2'),
  }
  @font-face {
    font-family: 'iransansNumber';
    font-style:ultraLight;
    font-weight: 200;
    src: url('/font/IRANSansXFaNum-UltraLight.woff2') format('woff2'),
  }
  @font-face {
    font-family: 'iransansNumber';
    font-style:light;
    font-weight: 300;
    src: url('/font/IRANSansXFaNum-Light.woff2') format('woff2'),
  }
  @font-face {
    font-family: 'iransansNumber';
    font-style:regular;
    font-weight: 400;
    src: url('/font/IRANSansXFaNum-Regular.woff2') format('woff2'),
  }
  @font-face {
    font-family: 'iransansNumber';
    font-style:medium;
    font-weight: 500;
    src: url('/font/IRANSansXFaNum-Medium.woff2') format('woff2'),
  }
  @font-face {
    font-family: 'iransansNumber';
    font-style:demiBold;
    font-weight: 600;
    src: url('/font/IRANSansXFaNum-DemiBold.woff2') format('woff2'),
  }
  @font-face {
    font-family: 'iransansNumber';
    font-style:Bold;
    font-weight: 700;
    src: url('/font/IRANSansXFaNum-Bold.woff2') format('woff2'),
  }
  @font-face {
    font-family: 'iransansNumber';
    font-style:extreBold;
    font-weight: 800;
    src: url('/font/IRANSansXFaNum-ExtraBold.woff2') format('woff2'),
  }
  @font-face {
    font-family: 'iransansNumber';
    font-style:Black;
    font-weight: 900;
    src: url('/font/IRANSansXFaNum-Black.woff2') format('woff2'),
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}


